@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
}

.active-link *{
  display: block;
  transition: all 0.2s ease-in;
  fill: #0182FE;
  color: #0182FE;
  stroke: #0182FE;
}

.active-link-nav *{
  transition: all 0.2s ease-in;
  fill: #0182FE;
  color: #0182FE;
  stroke: #0182FE;
}

.active-link-nav div{
  width: 5px;
}

.active-link div{
  height: 10px;
}

.menu-mobile{
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100 - 80px);
  /* height: 84vh; */
}