@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
}

.active-link *{
  display: block;
  transition: all 0.2s ease-in;
  fill: #0182FE;
  color: #0182FE;
  stroke: #0182FE;
}

.active-link div{
  height: 10px;
}

.menu-mobile{
  height: calc(100svh - 80px) !important;
  /* height: 84vh; */
}